 <%= link_to "編集せずに戻る", board_path(@board) %>
 <hr>
 <h1>タイトルの編集</h1>
 <br>
 
 <%= form_for @board do |f| %>
   タイトル: <%= text_field_tag :title, @board.title %> 
   <br>
   <br>
   作成者名: <%= text_field_tag :editor, @board.editor %> 
   <br>
   <hr>
 	<%= submit_tag %>
 <% end %>