 <%= link_to "スレッド一覧に戻る", "/boards" %>
 <hr>
 <h1>スレッドの新規作成</h1>
 <br>
 <%= form_for @board do |f| %>
 	タイトル: <%= text_field_tag :title %> 
 	<br>
 	<br>
 	作成者名: <%= text_field_tag :editor %> 
 	<br>
 	<hr>
 	<%= submit_tag %>
 <% end %>