<!DOCTYPE html>
<html>
  <head>
    <title>DBtestCyllabus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      
      <div class="jumbotron">
        <h1><%= link_to "勉強の記録", "https://noz-link-study.herokuapp.com/" %></h1>
        
        <a>by Noz</a>
      </div>
          
    
      <%= yield %>
      
    </div>
  </body>
</html>
