<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>DBtestCyllabus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="index.html">Noz</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">test2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">test3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">test4</a>
            </li>
          </ul>
        </div>
      
      </div>
    </nav>
    
    <div class="container">
      <div class="jumbotron">
        <h1>勉強の記録　</h1>
        <a>by Noz</a>
      </div>
          
    
    <%= yield %>
  </body>
</html>
